<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <style>
  #include("pages/default.css")
  </style>
  <title>$!{exception.httpStatus.statusCode} $!{exception.httpStatus.reasonPhrase}</title>
</head>
<body>
  <div class="error-container">
    <h1>$!{exception.httpStatus.statusCode} $!{exception.httpStatus.reasonPhrase}</h1>
    <p>The server encountered an error or misconfiguration
      and was unable to complete your request.
    </p>
  </div>
</body>
</html>