<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>502 Bad Gateway</title>
  <style>
  #include("pages/default.css")
  </style>
</head>
<body>
  <div class="error-container">
    <h1>Bad Gateway</h1>
    <p>The proxy server received an invalid
      response from an upstream server.</p>
  </div>
</body>
</html>
