<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>403 Forbidden.</title>
  <style>
  #include("pages/default.css")
  </style>
</head>
<body>
  <div class="error-container">
    <h1>Forbidden</h1>
    <p>You don't have permission to access on this server.</p>
  </div>
</body>
</html>
