<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>500 Internal Server Error</title>
  <style>
  #include("pages/default.css")
  </style>
</head>
<body>
  <div class="error-container">
    <h1>500 Internal Server Error</h1>
    <p>The server encountered an internal error or misconfiguration
      and was unable to complete your request.
    </p>
  </div>
</body>
</html>