<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Index of ${url}</title>
	<style type="text/css">
		html {font-size:100%;}
		body {font-size:78%; font-family:Ubuntu,Verdana,Arial,Sans-Serif; background:#fff; color:#333; margin:0; padding:0;}
		h1{font-size:110%; color:white; background-color:#444;padding:2px; margin:0;}
		h3{font-size:100%; color:white; background-color:#444;padding:2px;}
		a{color:#000066;} hr{color : #666;}
		table{margin: 10px; padding: 2px;}
		th{text-align:left; border-bottom:1px solid #666;}
		tr.row:hover{background-color:#eee;}
		#search {float:right;}
	</style>
</head>
<body>
	<h1>Index of ${url}</h1>
	<div style="width:80%;">
		<form id="search" action="$!{url}" method="get">
			<input type="text" name="q" size="16" value="$!{q}" onchange="this.submit()" />
			<input type="submit" value="Search" />
		</form>
		</div>
		<table style="width:80%;">
			<tr>
				<th style="width:60%;">Name</th>
				<th style="width:10%;" nowrap="nowrap">Last modified</th>
				<th style="witdh:5%;text-align:right;">Size</th>
			</tr>
#if($parent)
			<tr>
				<td colspan="3"><a href="../"><span>../</span></a></td>
			</tr>
#end
#foreach($file in $list)
			<tr class="row">
				<td><a href="$!url$!file.getName"><span>$!file.getName</span></a></td>
				<td nowrap="nowrap">$!file.lastModified</td>
				<td style="text-align:right;" nowrap="nowrap">$!file.length</td>
			</tr>
#end
		</table>
	</body>
</html>
